name: "Terraform-Plan-Infra-Plan"

on:
  push:
    branches:
      - "main"

jobs:
  terraform:
    name: "Terraform"
    runs-on: "ubuntu-latest"
    env:
      AWS_DEFAULT_REGION: "us-east-1"
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY_SECRET }}
      AWS_SDK_LOAD_CONFIG: 1
      GITHUB_TOKEN: ${{ secrets.TF_API_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/terraform-github-actions@master
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Terraform Init
        uses: hashicorp/terraform-github-actions@master
        id: init
        run: terraform init
      
      - name: Terraform Plan
        uses: hashicorp/terraform-github-actions@master
        id: plan
        if: github.event_name == 'push'
        run: terraform plan -no-color