name: "Terraform-Plan-Infra-Plan"

on:
  push:
    branches:
      - "main"

jobs:
  terraform-plan:
    name: "Terraform"
    runs-on: "ubuntu-latest"
    env:
      AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY_SECRET }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      # AWS_SDK_LOAD_CONFIG: 1
      # GITHUB_TOKEN: ${{ secrets.TF_API_TOKEN }}

    steps:
      - name: Checkout
        id: plan-checkout
        uses: actions/checkout@v2

      - name: Configure AWS credentials from Test account
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          #${{ secrets.AWS_ACCESS_KEY_SECRET }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1


      - name: Terraform Init
        id: init
        run: terraform init 

      - name: run script task
        run: |
          pwd
          echo $AWS_REGION
          ls -la

      - name: Terraform Plan
        id: plan
        if: github.event_name == 'push'
        run: terraform plan -no-color