name: "Terraform-Plan-Infra-Plan"

on:
  push:
    branches:
      - "main"

jobs:
  terraform:
    name: "Terraform"
    runs-on: "ubuntu-latest"
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: 'us-east-2'

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Terraform Init
        id: init
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
        run: terraform init
      
      - name: Terraform Plan
        id: plan
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
        if: github.event_name == 'push'
        run: terraform plan -no-color